.container {
    margin-top: 14rem;
}

.row {
    justify-content: center !important;
}

.card {
    width: 100% !important;
    max-width: 60vw !important;
    background-color: transparent !important;
    color: #FB6F92 !important;
    padding: 9rem 4rem 4rem 4rem !important;
    text-align: center;
    height: 60vh !important;
    background-image: url("../svg/card.svg") !important;
    border: none !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.card-link {
    color: #FB6F92 !important;
    font-weight: bold;
}

.card-link:hover {
    color: #FFC2D1 !important;
}

.image-card {
    width: 100% !important;
    max-width: 60vw !important;
    border-radius: 60px !important;
    padding: 0 !important;
    height: 60vh !important;
    overflow: hidden;
    background-image: url("../svg/imgcard.svg") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center;
}

.about-me-image {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}