body {
  background-color: #FF8DC7 !important;
}
  
.page-section {
  width: 99vw;
  min-height: 45vh;
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 600ms ease, transform 600ms ease;
}

.page-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.page-section-static {
  width: 99vw;
  min-height: 45vh;
}
