body {
  background-image: url("../svg/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
  
.page-section {
  width: 99vw;
  min-height: 60vh;
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 800ms ease, transform 800ms ease;
  padding-top: 30vh;
}

.page-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.page-section-static {
  min-height: 30vh;
  width: 99vw;
}
