.portfolio {
    text-align: center;
    color: #FB6F92;
  }
  
  .gallery {
    margin: 1rem;
    display: grid;
    gap: 1vh;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .gallery-item {
    box-sizing: border-box;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: inline;
    border-radius: 10px;
    box-shadow:  1rem 1rem 0.4rem rgba(255, 179, 198, 0.3);
  }
  