.container-left {
    text-align: center;
    color: white;
}

.container-left p {
    font-size: 1.1rem;
}

.badge {
    border-radius: 60px !important;
    background-color: white !important;
    color: #FB6F92 !important;
}

.location {
    font-style: italic;
}

.task {
    margin-bottom: 4rem;
    font-style: italic;
}

.divider {
    height: 0.01rem;
    width: 10rem;
    background-color: white;
    margin: 1rem auto;
}