.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: pink;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255, 135, 235, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms ease, visibility 400ms ease, transform 400ms ease;
    transform: translateY(20px);
  }
  
  .scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .scroll-to-top:hover {
    background-color: lightgray;
  }
  